.index-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#787878, #fff);
}

.index-welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

.typing-animate{
  display: block;
  width: 100px;
  white-space: nowrap;
  border-right: 2px solid transparent;
  overflow: hidden;
  animation: typing 2.5s steps(16, end);
}
.fake-logo{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../../assets/fake-logo.png");
}

@keyframes background-fadein {
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 100px;
  }
}
