.index-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*animation-name: background-fadein;*/
  /*animation-duration: 3s;*/
  /*animation-direction: alternate;*/
  /*animation-iteration-count: infinite;*/
  /*animation-fill-mode: forwards;*/
  /*background-image: linear-gradient(180deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #00FFFF, #0000FF, #8B00FF);*/
  background-image: linear-gradient(#787878, #fff);
}

.index-welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

@keyframes background-fadein {
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}
